.customers {
  margin-top: 6rem;
}
.card {
  border: 2px solid #dddddd;
  border-radius: 10px;
  transition: 0.3s;
  height: 220px;
}
.card:hover {
  border: 2px solid #f53838;
  box-shadow: 0px 3px 22px 5px #e5e2e238;
}
.card-img {
  width: 25% !important;
}
.card-img.star {
  width: 16px !important;
  height: 16px;
  margin-top: 3px;
}
.card-title {
  font-size: 1rem !important;
}
.card-subtitle {
  font-size: 0.9rem !important;
}
.react-multi-carousel-track {
  gap: 30px;
  padding: 35px 0 80px 0;
}
.react-multiple-carousel__arrow {
  bottom: 0;
  background: #fff;
  border: 1px solid #f53838;
}
.react-multiple-carousel__arrow::before{
    color: #f53838;
}
.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(9% + 1px);
}
.react-multiple-carousel__arrow--right,
.react-multi-carousel-dot--active button,
.react-multiple-carousel__arrow:hover {
  background-color: #f53838;
}
.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow:hover::before{
    color: #fff;
  }
.react-multi-carousel-dot-list {
  right: auto;
}
.react-multi-carousel-dot button {
  border: 0;
}
.react-multi-carousel-dot--active button {
  width: 45px;
  border-radius: 7px;
}

@media (max-width: 991px) {
  .card {
    height: 300px;
  }
}